@import url("./Template.css");

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}

.info-info,
.info-option {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info-info-data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-id {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.info-name {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}

.info-description {
  color: var(--Project-Sandbox-Secondary-Black-700);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.info-normal-price {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.info-discount {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-after-price {
  width: fit-content;
  background-color: var(--Project-Sandbox-Danger);
  color: var(--Project-Sandbox-White);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.info-before-price {
  display: flex;
  gap: 4px;
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.info-before-price p {
  text-decoration: line-through;
}

.info-rating {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.info-rating > i {
  font-size: 24px;
}

.info-star-full {
  color: var(--Project-Sandbox-Primary-Red-700);
}

.info-star-half {
  display: flex;
  position: relative;
  overflow: hidden;
}

.info-star-half i:first-child {
  color: var(--Project-Sandbox-Primary-Red-700);
  left: 0;
  width: 50%;
  position: absolute;
}

.info-star-half i:last-child {
  left: 50%;
  color: var(--Project-Sandbox-Secondary-Black-300);
  transform: rotateY(180deg);
}

.info-star-none {
  color: var(--Project-Sandbox-Secondary-Black-300);
}

.info-color > p,
.info-size > p,
.info-qty > p {
  color: var(--Project-Sandbox-Secondary-Black-700);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.info-color,
.info-size,
.info-qty {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-color > div {
  display: flex;
  flex-wrap: wrap;
}

.info-color-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0 16px;
  transition: 0.3s;
  box-sizing: border-box;
}

.info-color-btn:hover {
  border-color: var(--Project-Sandbox-Secondary-Black-700);
  transform: scale(1.05);
}

.info-color-btn.selected > div {
  border: 4px solid var(--Project-Sandbox-Primary-Red-700);
}

.info-color-area {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
}

.info-color-text {
  text-align: center;
}

.info-size > div {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.info-size-btn {
  border: 1px solid var(--Project-Sandbox-Secondary-Black-300);
  background: var(--Project-Sandbox-White);
  display: flex;
  width: 100px;
  height: 52px;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.info-size-btn:hover {
  border-color: var(--Project-Sandbox-Secondary-Black-700);
  background-color: var(--Project-Sandbox-Secondary-Black-300);
}

.info-size-btn > p {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.info-size-btn.selected {
  background-color: var(--Project-Sandbox-Primary-Red-700);
}

.info-size-btn.disabled {
  background-color: var(--Project-Sandbox-Secondary-Black-300);
  border-color: var(--Project-Sandbox-Secondary-Black-300);
  cursor: default;
}

.info-size-btn.disabled > p {
  color: var(--Project-Sandbox-Secondary-Black-700);
}

.add-to-cart-btn {
  background-color: var(--Project-Sandbox-Secondary-Black-900);
  display: flex;
  height: 52px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #000;
}

.add-to-cart-btn > p {
  color: var(--Project-Sandbox-White);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.add-to-cart-btn.disabled {
  background-color: var(--Project-Sandbox-Secondary-Black-700);
  cursor: default;
}
