@import url("./Template.css");

.itempage-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 64px 124px;
}

.itempage-content {
  display: flex;
  gap: 40px;
}

.itempage-more {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 64px;
}

.itempage-more-header {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.itempage-more-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
