@import url("./Template.css");

.itempage-container {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 48px;
  padding: 64px 124px;
}

.itempage-content {
  display: flex;
  gap: 40px;
}

/* ============================================================= */
/* ====================== CSS for Popup ======================== */
.itempage-popup-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.itempage-popup-container {
  border-radius: 16px;
  background: var(--Project-Sandbox-White);
  z-index: 1000;
  display: flex;
  width: 900px;
  height: fit-content;
  padding: 24px;
  flex-direction: column;
}

.itempage-popup-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}

.itempage-popup-header > p {
  justify-self: flex-start;
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.itempage-popup-header > i {
  display: flex;
  font-size: 20px;
  padding: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.itempage-popup-header > i:hover {
  background: var(--Project-Sandbox-Secondary-Black-300);
}

.itempage-popup-content {
  display: flex;
  padding: 24px 0px;
  align-items: center;
  gap: 40px;
}

.itempage-popup-content > img {
  width: 160px;
  height: 160px;
}

.itempage-popup-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.itempage-popup-info > div {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 10px;
}

.itempage-popup-name {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.itempage-popup-info > div > div {
  display: flex;
  gap: 16px;
}

.itempage-popup-price {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.itempage-popup-color,
.itempage-popup-size,
.itempage-popup-qty {
  color: var(--Project-Sandbox-Secondary-Black-700);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.itempage-popup-price {
  align-self: flex-start;
}

.itempage-popup-buttons {
  display: flex;
  width: 100%;
  gap: 10px;
}

.itempage-popup-viewcart-btn {
  display: flex;
  height: 54px;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  background: var(--Project-Sandbox-Secondary-Black-900);
  color: var(--Project-Sandbox-White);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.itempage-popup-viewcart-btn:hover {
  background: var(--Project-Sandbox-Secondary-Black-700);
}

.itempage-popup-continue-btn {
  display: flex;
  height: 54px;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  border: 1px solid var(--Project-Sandbox-Secondary-Black-300);
  background: var(--Project-Sandbox-White);
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.itempage-popup-continue-btn:hover {
  background: var(--Project-Sandbox-Secondary-Black-300);
}

/* ============================================================= */
/* ============================================================= */

/* ============================================================= */
/* ====================== CSS for Slider ======================= */

.itempage-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 576px;
  position: relative;
}

.itempage-main-image-section {
  position: relative;
  width: 576px;
  height: 597px;
  overflow: hidden;
}

.itempage-main-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itempage-main-image-section button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 59px;
  height: 58px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.itempage-main-image-section button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.itempage-slider-discount-tag {
  position: absolute;
  background-color: var(--Project-Sandbox-Danger);
  color: var(--Project-Sandbox-White);
  position: absolute;
  right: 0px;
  top: 89.5px;
  width: 86px;
  height: 47px;
  display: flex;
  padding: 6.706px 16.765px;
  justify-content: center;
  align-items: center;
  font-size: 26.824px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.529px;
}

.itempage-slider-outstock-tag {
  position: absolute;
  background-color: var(--Project-Sandbox-Secondary-Black-900);
  color: var(--Project-Sandbox-White, var(--Base-White, #fff));
  right: 0px;
  top: 83px;
  width: 175px;
  height: 47px;
  display: flex;
  padding: 6.706px 16.765px;
  justify-content: center;
  align-items: center;
  font-size: 26.824px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.529px;
}

.itempage-left-btn {
  left: 15px;
}

.itempage-right-btn {
  right: 15px;
}

.itempage-sub-image-section {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
  overflow-x: hidden;
}

.itempage-sub-image-section img {
  width: 135px;
  height: 162px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
  max-width: 100%;
  height: auto;
}

.itempage-main-image.disabled,
.itempage-sub-image.disabled {
  filter: brightness(50%);
}

.itempage-main-image-section button.disabled {
  cursor: default;
}

.itempage-main-image-section button.disabled:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* ============================================================= */
/* ============================================================= */

/* ============================================================= */
/* ====================== CSS for Info ========================= */

.itempage-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - 576px);
  gap: 32px;
}

.itempage-info-info,
.itempage-info-option {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.itempage-info-info-data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.itempage-info-id {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.itempage-info-name {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}

.itempage-info-description {
  color: var(--Project-Sandbox-Secondary-Black-700);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.itempage-info-normal-price {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.itempage-info-discount {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itempage-info-after-price {
  width: fit-content;
  background-color: var(--Project-Sandbox-Danger);
  color: var(--Project-Sandbox-White);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.itempage-info-before-price {
  display: flex;
  gap: 4px;
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.itempage-info-before-price p {
  text-decoration: line-through;
}

.itempage-info-outstock-tag {
  color: var(--Project-Sandbox-Danger);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.itempage-info-rating {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.itempage-info-rating > i {
  font-size: 24px;
}

.itempage-info-star-full {
  color: var(--Project-Sandbox-Primary-Red-700);
}

.itempage-info-star-half {
  display: flex;
  position: relative;
  overflow: hidden;
}

.itempage-info-star-half i:first-child {
  color: var(--Project-Sandbox-Primary-Red-700);
  left: 0;
  width: 50%;
  position: absolute;
}

.itempage-info-star-half i:last-child {
  left: 50%;
  color: var(--Project-Sandbox-Secondary-Black-300);
  transform: rotateY(180deg);
}

.itempage-info-star-none {
  color: var(--Project-Sandbox-Secondary-Black-300);
}

.itempage-info-color > p,
.itempage-info-size > p,
.itempage-info-qty > p {
  color: var(--Project-Sandbox-Secondary-Black-700);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.itempage-info-color,
.itempage-info-size,
.itempage-info-qty {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itempage-info-color > div {
  display: flex;
  flex-wrap: wrap;
}

.itempage-info-color-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0 16px;
  transition: 0.3s;
  box-sizing: border-box;
  cursor: pointer;
}

.itempage-info-color-btn:hover {
  border-color: var(--Project-Sandbox-Secondary-Black-700);
  transform: scale(1.05);
}

.itempage-info-color-btn.selected > div {
  border: 4px solid var(--Project-Sandbox-Primary-Red-700);
}

.itempage-info-color-area {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
}

.itempage-info-color-text {
  text-align: center;
}

.itempage-info-size > div {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.itempage-info-size-btn {
  border: 1px solid var(--Project-Sandbox-Secondary-Black-300);
  background: var(--Project-Sandbox-White);
  display: flex;
  width: 100px;
  height: 52px;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.itempage-info-size-btn:hover {
  border-color: var(--Project-Sandbox-Secondary-Black-700);
  background-color: var(--Project-Sandbox-Secondary-Black-300);
}

.itempage-info-size-btn > p {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.itempage-info-size-btn.selected {
  background-color: var(--Project-Sandbox-Primary-Red-700);
}

.itempage-info-size-btn.disabled {
  background-color: var(--Project-Sandbox-Secondary-Black-300);
  border-color: var(--Project-Sandbox-Secondary-Black-300);
  cursor: default;
}

.itempage-info-size-btn.disabled > p {
  color: var(--Project-Sandbox-Secondary-Black-700);
}

.itempage-add-to-cart-btn {
  background-color: var(--Project-Sandbox-Secondary-Black-900);
  display: flex;
  height: 52px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.itempage-add-to-cart-btn:hover {
  background-color: #000;
}

.itempage-add-to-cart-btn > p {
  color: var(--Project-Sandbox-White);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.itempage-add-to-cart-btn.disabled {
  background-color: var(--Project-Sandbox-Secondary-Black-700);
  cursor: default;
}

/* ============================================================= */
/* ============================================================= */

.itempage-more {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 64px;
}

.itempage-more-header {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.itempage-more-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
