@import url("./Template.css");

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 576px;
  position: relative;
}

.main-image-section {
  position: relative;
  width: 576px;
  height: 597px;
  overflow: hidden;
}

.main-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-image-section button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 59px;
  height: 58px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.main-image-section button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.slider-discount-tag {
  position: absolute;
  background-color: var(--Project-Sandbox-Danger);
  color: var(--Project-Sandbox-White);
  position: absolute;
  right: 0px;
  top: 89.5px;
  width: 86px;
  height: 47px;
  display: flex;
  padding: 6.706px 16.765px;
  justify-content: center;
  align-items: center;
  font-size: 26.824px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.529px;
}

.left-btn {
  left: 15px;
}

.right-btn {
  right: 15px;
}

.sub-image-section {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
  overflow-x: hidden;
}

.sub-image-section img {
  width: 135px;
  height: 162px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
  max-width: 100%;
  height: auto;
}

.image-disabled {
  filter: brightness(50%);
}
