@import url("./Template.css");

.tag {
  color: var(--Project-Sandbox-White);
  position: absolute;
  right: 0px;
  top: 24px;
  display: flex;
  height: 34px;
  padding: 4px 10px;
  align-items: center;
}

.discount-tag {
  background-color: var(--Project-Sandbox-Danger);
}

.out-stock-tag {
  background-color: var(--Project-Sandbox-Secondary-Black-900);
}
