.cartpage-container {
  background-color: var(--Project-Sandbox-Secondary-Black-50);
  display: flex;
  flex-direction: column;
  padding: 64px 124px 80px 124px;
  gap: 48px;
}

@media screen and (max-width: 1142px) {
  .cartpage-container {
    padding: 64px 40px 80px 40px;
  }
}

.cartpage-header {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  padding-bottom: 42px;
}

.cartpage-content {
  display: flex;
  width: 100%;
  gap: 40px;
}

/* ============================================================= */
/* ====================== CSS for Popup ======================== */
.cartpage-popup-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.cartpage-popup-container {
  position: relative;
  display: flex;
  border-radius: 16px;
  background: var(--Project-Sandbox-Primary-Red-900);
  z-index: 1000;
  width: 600px;
  height: fit-content;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  margin: 16px;
}

.cartpage-popup-progress {
  width: 100%;
  height: 16px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.cartpage-popup-progress-bar {
  width: 0%;
  height: 100%;
  background: var(--Project-Sandbox-White);
  transition: width 3s linear;
}

.cartpage-popup-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 24px 0;
}

.cartpage-popup-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: var(--Project-Sandbox-White);
  margin-bottom: 16px;
}

.cartpage-popup-logo > i {
  font-size: 60px;
  color: var(--Project-Sandbox-Secondary-Black-900);
}

.cartpage-popup-title1 {
  font-size: 72px;
  font-weight: bold;
  color: var(--Project-Sandbox-White);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.cartpage-popup-title2 {
  font-size: 48px;
  font-weight: bold;
  color: var(--Project-Sandbox-White);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 425px) {
  .cartpage-popup-logo {
    width: 80px;
    height: 80px;
  }

  .cartpage-popup-logo > i {
    font-size: 28px;
  }

  .cartpage-popup-title1 {
    font-size: 12px;
  }

  .cartpage-popup-title2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .cartpage-popup-logo {
    width: 120px;
    height: 120px;
  }

  .cartpage-popup-logo > i {
    font-size: 40px;
  }

  .cartpage-popup-title1 {
    font-size: 56px;
  }

  .cartpage-popup-title2 {
    font-size: 40px;
  }
}

/* ============================================================= */
/* ============================================================= */

/* ================= CSS for items ============================= */
/* ============================================================= */
.cartpage-content-items {
  background-color: var(--Project-Sandbox-White);
  width: calc(100% - 440px);
  display: flex;
  gap: 24px;
  padding: 24px;
  flex-direction: column;
}

.cartpage-content-items-header {
  color: var(--Project-Sandbox-Secondary-Black-900);
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.cartpage-content-item {
  width: 100%;
  padding: 0 0 24px 0;
  height: 162px;
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .cartpage-content-item {
    flex-direction: column;
    gap: 16px;
    height: fit-content;
  }
}

.cartpage-content-item-image {
  width: 162px;
  height: 100%;
  align-self: center;
}

.cartpage-content-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.cartpage-content-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.cartpage-content-item-header > h3 {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.cartpage-content-item-header > i {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 9px 10.312px;
  justify-content: center;
  align-items: center;
  transition: color 0.3s;
  cursor: pointer;
}

.cartpage-content-item-header > i:hover {
  color: var(--Project-Sandbox-Primary-Red-700);
}

.cartpage-content-item-detail {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.cartpage-content-item-selectors {
  display: flex;
  gap: 8px;
}

.cartpage-content-item-selectors > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 102px;
}

.cartpage-content-item-selectors > div > p {
  color: var(--Project-Sandbox-Secondary-Black-700);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.cartpage-content-item-price {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: auto;
}

.cartpage-content-item-normalprice {
  color: var(--Project-Sandbox-Secondary-Black-900);
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.cartpage-content-item-beforeprice {
  text-decoration: line-through;
  color: var(--Project-Sandbox-Secondary-Black-500);
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.cartpage-content-item-afterprice {
  color: var(--Project-Sandbox-Danger);
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

@media screen and (max-width: 600px) {
  .cartpage-content-item-selectors {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .cartpage-content-item-detail {
    flex-direction: column;
  }
}

.cartpage-content-item-endline {
  padding-bottom: 24px;
}

.cartpage-content-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartpage-content-empty-background {
  min-width: 200px;
  width: 100%;
  max-width: 403px;
  min-height: 200px;
  height: 100%;
  max-height: 403px;
  padding-bottom: 24px;
}

.cartpage-content-empty-title {
  text-align: center;
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  padding-bottom: 8px;
}

.cartpage-content-empty-subtitle {
  color: var(--Project-Sandbox-Secondary-Black-900);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .cartpage-content-empty-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
  }
}

.cartpage-content-empty-continue {
  background-color: var(--Project-Sandbox-Secondary-Black-900);
  display: flex;
  height: 54px;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.cartpage-content-empty-continue:hover {
  background-color: var(--Project-Sandbox-Secondary-Black-700);
}

.cartpage-content-empty-continue > p {
  color: var(--Project-Sandbox-White);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/* ============================================================= */
/* ============================================================= */

/* ================= CSS for summary =========================== */
/* ============================================================= */

.cartpage-content-summary {
  background-color: var(--Project-Sandbox-White);
  width: 440px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
}

.cartpage-content-summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .cartpage-content-summary-header {
    flex-direction: column;
  }
}

.cartpage-content-summary-header > h2 {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.cartpage-content-summary-header > h3 {
  color: var(--Project-Sandbox-Secondary-Black-700);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.cartpage-content-summary-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cartpage-content-summary-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cartpage-content-summary-buttons > Button {
  display: flex;
  height: 54px;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cartpage-content-summary-buttons > Button > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/* ============================================================= */
/* ============================================================= */

/* ================== CSS for more ============================= */
/* ============================================================= */
.cartpage-more {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 64px;
}

.cartpage-more-header {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

.cartpage-more-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

@media screen and (max-width: 821px) {
  .cartpage-more {
    gap: 40px;
  }

  .cartpage-more-header {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  .cartpage-more-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36.88px;
  }
}

@media screen and (max-width: 1142px) {
  .cartpage-content {
    flex-direction: column;
  }

  .cartpage-content-items {
    width: 100%;
  }

  .cartpage-content-summary {
    width: 100%;
  }
}

/* ============================================================= */
/* ============================================================= */
