.cartpage-container {
  display: flex;
  flex-direction: column;
  padding: 64px 124px 80px 124px;
  gap: 48px;
}

.cartpage-header {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  padding-bottom: 42px;
}

.cartpage-content {
  display: flex;
  gap: 40px;
}

.cartpage-content-items {
  width: calc(100% - 440px);
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.cartpage-content-items-header {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.cartpage-content-item {
  width: 100%;
  padding: 24px 0;
  height: 162px;
  display: flex;
}

.cartpage-content-item-image {
  width: 162px;
  height: 100%;
  padding-right: 24px;
}

.cartpage-content-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 162px - 24px);
}

.cartpage-content-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.cartpage-content-item-header > h3 {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.cartpage-content-item-header > i {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 9px 10.312px;
  justify-content: center;
  align-items: center;
  transition: color 0.3s;
  cursor: pointer;
}

.cartpage-content-item-header > i:hover {
  color: var(--Project-Sandbox-Primary-Red-700);
}

.cartpage-content-item-detail {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.cartpage-content-item-selectors {
  display: flex;
  gap: 8px;
}

.cartpage-content-item-selectors > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cartpage-content-item-selectors > div > p {
  color: var(--Project-Sandbox-Secondary-Black-700);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.cartpage-content-item-price {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cartpage-content-item-normalprice {
  color: var(--Project-Sandbox-Secondary-Black-900);
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.cartpage-content-item-beforeprice {
  text-decoration: line-through;
  color: var(--Project-Sandbox-Secondary-Black-500);
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.cartpage-content-item-afterprice {
  color: var(--Project-Sandbox-Danger);
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.cartpage-content-summary {
  width: 440px;
  display: flex;
  flex-direction: column;
  margin: 24px;
  gap: 24px;
}

.cartpage-content-summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartpage-content-summary-header > h2 {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.cartpage-content-summary-header > h3 {
  color: var(--Project-Sandbox-Secondary-Black-700);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.cartpage-content-summary-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cartpage-content-summary-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cartpage-content-summary-buttons > Button {
  display: flex;
  height: 54px;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cartpage-content-summary-buttons > Button > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.cartpage-more {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 64px;
}

.cartpage-more-header {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

.cartpage-more-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

@media screen and (max-width: 821px) {
  .cartpage-more {
    gap: 40px;
  }

  .cartpage-more-header {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  .cartpage-more-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36.88px;
  }
}
