.detailpage-container {
  background-color: var(--Project-Sandbox-Secondary-Black-50);
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 48px;
  padding: 64px 124px;
}

.detailpage-content {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .detailpage-container {
    padding: 24px 16px;
    gap: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .detailpage-content {
    flex-direction: column;
    gap: 24px;
  }
}

/* ============================================================= */
/* ====================== CSS for Popup ======================== */
.detailpage-popup-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.detailpage-popup-container {
  border-radius: 16px;
  background: var(--Project-Sandbox-White);
  z-index: 1000;
  display: flex;
  width: 900px;
  height: fit-content;
  padding: 24px;
  margin: 16px;
  flex-direction: column;
}

.detailpage-popup-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .detailpage-popup-header {
    padding-bottom: 0px;
  }
}

.detailpage-popup-header > p {
  justify-self: flex-start;
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.detailpage-popup-header > i {
  display: flex;
  font-size: 20px;
  padding: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .detailpage-popup-header > p {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  .detailpage-popup-header > i {
    font-size: 14px;
    width: 16px;
    height: 16px;
  }
}

.detailpage-popup-header > i:hover {
  background: var(--Project-Sandbox-Secondary-Black-300);
}

.detailpage-popup-content {
  display: flex;
  padding: 24px 0px;
  align-items: center;
  gap: 40px;
}

.detailpage-popup-content > img {
  width: 160px;
  height: 160px;
}

.detailpage-popup-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.detailpage-popup-info > div {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 10px;
}

.detailpage-popup-info > div > div {
  display: flex;
  gap: 16px;
}

.detailpage-popup-name {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.detailpage-popup-price {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.detailpage-popup-color,
.detailpage-popup-size,
.detailpage-popup-qty {
  color: var(--Project-Sandbox-Secondary-Black-700);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.detailpage-popup-price {
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .detailpage-popup-content {
    flex-direction: column;
  }

  .detailpage-popup-info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  .detailpage-popup-info > div {
    width: 100%;
    gap: 4px;
  }

  .detailpage-popup-info > div > div {
    gap: 8px;
  }

  .detailpage-popup-name {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  .detailpage-popup-price {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  .detailpage-popup-color,
  .detailpage-popup-size,
  .detailpage-popup-qty {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .detailpage-popup-price {
    align-self: flex-end;
  }
}

.detailpage-popup-buttons {
  display: flex;
  width: 100%;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .detailpage-popup-buttons {
    flex-direction: column;
  }
}

.detailpage-popup-viewcart-btn {
  display: flex;
  height: 54px;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  background: var(--Project-Sandbox-Secondary-Black-900);
  color: var(--Project-Sandbox-White);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.detailpage-popup-viewcart-btn:hover {
  background: var(--Project-Sandbox-Black);
}

.detailpage-popup-continue-btn {
  display: flex;
  height: 54px;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  border: 1px solid var(--Project-Sandbox-Secondary-Black-300);
  background: var(--Project-Sandbox-White);
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.detailpage-popup-continue-btn:hover {
  background: var(--Project-Sandbox-Secondary-Black-300);
}

/* ============================================================= */
/* ============================================================= */

/* ============================================================= */
/* ====================== CSS for Slider ======================= */

.detailpage-slider-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  position: relative;
}

.detailpage-main-image-section {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .detailpage-slider-container {
    width: 100%;
    max-width: 1024px;
  }

  .detailpage-main-image-section {
    width: 100%;
    height: auto;
  }
}

.detailpage-main-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detailpage-main-image-section button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 59px;
  height: 58px;
  flex-shrink: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .detailpage-main-image-section button {
    width: 30.782px;
    height: 30.782px;
  }
}

.detailpage-main-image-section button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.detailpage-slider-discount-tag {
  background-color: var(--Project-Sandbox-Danger);
  color: var(--Project-Sandbox-White);
  position: absolute;
  right: 0px;
  top: 89.5px;
  width: fit-content;
  height: 47px;
  padding: 6.706px 16.765px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26.824px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.529px;
}

.detailpage-slider-outstock-tag {
  position: absolute;
  background-color: var(--Project-Sandbox-Secondary-Black-900);
  color: var(--Project-Sandbox-White, var(--Base-White, #fff));
  right: 0px;
  top: 83px;
  width: fit-content;
  height: 47px;
  display: flex;
  padding: 6.706px 16.765px;
  justify-content: center;
  align-items: center;
  font-size: 26.824px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.529px;
}

@media screen and (max-width: 550px) {
  .detailpage-slider-discount-tag {
    height: 25.065px;
    padding: 2.949px 7.372px;
    top: 14.07px;
    font-size: 11.795px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.744px;
  }

  .detailpage-slider-outstock-tag {
    height: 25.065px;
    padding: 2.949px 7.372px;
    top: 30.07px;
    font-size: 11.795px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.744px;
  }
}

.detailpage-left-btn {
  left: 15px;
}

.detailpage-right-btn {
  right: 15px;
}

@media screen and (max-width: 768px) {
  .detailpage-left-btn {
    left: 7.04px;
  }

  .detailpage-right-btn {
    right: 7.04px;
  }
}

.detailpage-sub-image-section {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  overflow-x: hidden;
}

.detailpage-sub-image {
  object-fit: cover;
  max-width: 18%;
  height: auto;
  cursor: pointer;
  transition: 0.3s;
}

.detailpage-sub-image-current {
  filter: brightness(0.5);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .detailpage-sub-image-section {
    gap: 4px;
  }
}

.detailpage-main-image.disabled,
.detailpage-sub-image.disabled {
  filter: brightness(50%);
  cursor: default;
}

.detailpage-main-image-section button.disabled {
  cursor: default;
}

.detailpage-main-image-section button.disabled:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* ============================================================= */
/* ============================================================= */

/* ============================================================= */
/* ====================== CSS for Info ========================= */

.detailpage-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - 576px);
  gap: 32px;
}

@media screen and (max-width: 1024px) {
  .detailpage-info-container {
    width: 100%;
    gap: 56px;
  }
}

.detailpage-info-info,
.detailpage-info-option {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.detailpage-info-info-data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailpage-info-info-data > div {
  display: flex;
  justify-content: space-between;
}

.detailpage-info-id {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.detailpage-info-name {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}

.detailpage-info-favorite {
  font-size: 24px;
  color: var(--Project-Sandbox-Secondary-Black-900);
  cursor: pointer;
  transition: 0.3s;
}

.detailpage-info-description {
  color: var(--Project-Sandbox-Secondary-Black-700);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.detailpage-info-normal-price {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.detailpage-info-discount {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detailpage-info-after-price {
  width: fit-content;
  background-color: var(--Project-Sandbox-Danger);
  color: var(--Project-Sandbox-White);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.detailpage-info-before-price {
  display: flex;
  gap: 4px;
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.detailpage-info-before-price p {
  text-decoration: line-through;
}

.detailpage-info-outstock-tag {
  color: var(--Project-Sandbox-Danger);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

@media screen and (max-width: 768px) {
  .detailpage-info-id {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  .detailpage-info-name {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
  }

  .detailpage-info-favorite {
    font-size: 16px;
  }

  .detailpage-info-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  .detailpage-info-normal-price {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }

  .detailpage-info-after-price {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }

  .detailpage-info-before-price {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  .detailpage-info-outstock-tag {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
}

.detailpage-info-rating {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
}

.detailpage-info-rating > i {
  font-size: 24px;
}

.detailpage-info-star-full {
  color: var(--Project-Sandbox-Primary-Red-700);
}

.detailpage-info-star-half {
  display: flex;
  position: relative;
  overflow: hidden;
}

.detailpage-info-star-half i:first-child {
  color: var(--Project-Sandbox-Primary-Red-700);
  left: 0;
  width: 50%;
  position: absolute;
}

.detailpage-info-star-half i:last-child {
  left: 50%;
  color: var(--Project-Sandbox-Secondary-Black-300);
  transform: rotateY(180deg);
}

.detailpage-info-star-none {
  color: var(--Project-Sandbox-Secondary-Black-300);
}

.detailpage-info-color > p,
.detailpage-info-size > p,
.detailpage-info-qty > p {
  color: var(--Project-Sandbox-Secondary-Black-700);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.detailpage-info-color,
.detailpage-info-size,
.detailpage-info-qty {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detailpage-info-color > div {
  display: flex;
  flex-wrap: wrap;
}

.detailpage-info-color-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0 16px;
  transition: 0.3s;
  box-sizing: border-box;
  cursor: pointer;
}

.detailpage-info-color-btn:hover {
  border-color: var(--Project-Sandbox-Secondary-Black-700);
  transform: scale(1.05);
}

.detailpage-info-color-btn.selected > div {
  border: 4px solid var(--Project-Sandbox-Primary-Red-700);
}

.detailpage-info-color-area {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
}

.detailpage-info-color-text {
  text-align: center;
}

.detailpage-info-size > div {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.detailpage-info-size-btn {
  border: 1px solid var(--Project-Sandbox-Secondary-Black-300);
  background: var(--Project-Sandbox-White);
  display: flex;
  width: 100px;
  height: 52px;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.detailpage-info-size-btn:hover {
  border-color: var(--Project-Sandbox-Secondary-Black-700);
  background-color: var(--Project-Sandbox-Secondary-Black-300);
}

.detailpage-info-size-btn > p {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.detailpage-info-size-btn.selected {
  background-color: var(--Project-Sandbox-Primary-Red-700);
}

.detailpage-info-size-btn.disabled {
  background-color: var(--Project-Sandbox-Secondary-Black-300);
  border-color: var(--Project-Sandbox-Secondary-Black-300);
  cursor: default;
}

.detailpage-info-size-btn.disabled > p {
  color: var(--Project-Sandbox-Secondary-Black-700);
}

.detailpage-add-to-cart-btn {
  background-color: var(--Project-Sandbox-Secondary-Black-900);
  display: flex;
  height: 52px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.detailpage-add-to-cart-btn:hover {
  background-color: var(--Project-Sandbox-Black);
}

.detailpage-add-to-cart-btn > p {
  color: var(--Project-Sandbox-White);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.detailpage-add-to-cart-btn.disabled {
  background-color: var(--Project-Sandbox-Secondary-Black-700);
  cursor: default;
}

/* ============================================================= */
/* ============================================================= */

.detailpage-more {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 64px;
}

.detailpage-more-header {
  color: var(--Project-Sandbox-Secondary-Black-900);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.detailpage-more-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

@media screen and (max-width: 821px) {
  .detailpage-more {
    gap: 40px;
  }

  .detailpage-more-header {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  .detailpage-more-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36.88px;
  }
}
