.itemspage-container {
  display: flex;
  width: 100%;
  padding: 64px 124px 64px 64px;
  gap: 40px;
}

.itemspage-selector {
  display: flex;
  flex-direction: column;
  width: 268px;
}

@media screen and (max-width: 768px) {
  .itemspage-selector {
    display: none;
  }
}

.itemspage-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 42px;
}

.itemspage-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.itemspage-content-header > h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.itemspage-content-sort {
  margin-left: auto;
}

.itemspage-content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .itemspage-content-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .itemspage-content-grid {
    grid-template-columns: 1fr;
  }
}
