@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Project-Sandbox-Black: #000;
  --Project-Sandbox-Secondary-Black-900: #222222;
  --Project-Sandbox-Secondary-Black-700: #626262;
  --Project-Sandbox-Secondary-Black-500: #9f9f9f;
  --Project-Sandbox-Secondary-Black-300: #e1e1e1;
  --Project-Sandbox-Primary-Red-900: #c1cd00;
  --Project-Sandbox-Primary-Red-700: #def81c;
  --Project-Sandbox-Danger: #ff000d;
  --Project-Sandbox-White: #ffffff;
  --Text-DarkText: #262626;
}

* {
  @apply font-sans;
  margin: 0;
  padding: 0;
}
